body {
  padding-top: 65px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #939597;
}

pre,
code {
  font-family: monospace, monospace;
  background-color: #eee;
}

pre {
  border-radius: 5px;
}

pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

.navbar-custom {
  background-color: #f5df4d;
}

.dailypost {
  margin: 5px;
  padding: 20px;
  background-color: #f5df4d;
}
