.pagetitle {
    text-align: center;
    font-size: 5em;
}

div {
    margin: 5% 10% 0 10%;
}

p {
    padding: 1em;
    background-color: khaki;
    margin: 10px;
    font-size: 2em;
    font-family: 'Noto Serif TC', serif;
}