div {
    margin: 5% 10% 5% 10%;
}

.pagetitle {
    text-align: center;
    font-size: 2em;
}

.linkbox {
    padding: 1em;
    background-color: khaki;
    margin: 10px;
    font-size: 2em;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Serif TC', serif;
}