h1 {
  border-bottom: 1px solid #cccccc;
}

h2 {
  margin-left: 5%;
  margin-right: 5%;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  background-color: papayaWhip;
}

.special {
  border: 1px solid green;
}

#user-name {
  font-weight: bold;
}
