h1 {
  margin-left: 3%;
  margin-right: 3%;
  border-bottom: 1px solid #cccccc;
}

h2 {
  margin-left: 5%;
  margin-right: 5%;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
  background-color: papayaWhip;
}

.special {
  border: 1px solid green;
}

.main {
  margin-left: 5%;
  margin-right: 5%;
}

#user-name {
  font-weight: bold;
}
