.container{
    width: 800px;
    margin: 20px auto;
}

.row{
    display: flex;
    justify-content: space-between;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
}

.nav-left, .logo, nav-right{
    width: 33%;
}